*{
    font-family: "Lato", sans-serif;
    color: #262626;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
*:not(a), *:not(input){
    cursor: url('/images/cursor.cur'), pointer;
}
input{
    padding-left: 1vw;
}
h1{
    font-size: 2vw;
}
h2{
    font-size: 2vh;
}
p{
    font-size: 1vw;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
a{
    color: #00856F;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
#navbar{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#navbar h1{
    margin-left: 3vw;
    font-weight: 400;
    font-size: 1.3vw;
}
#container{
    width: 98vw;
    padding-left: 2vw;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}
.reset{
    margin-top: 5vh;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    z-index: 3;
}
form{
    margin-top: 5vh;
    width: 40vw;
    height: 70vh;
    padding-left: 3vw;
    background-color: #ffffff33;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 2vh;
    z-index: 3;
}
.reset form{
    margin-top: 5vh;
    width: 35vw;
    height: max-content;
    padding-left: 3vw;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 2vh;
    z-index: 3;
    box-shadow: unset;
}
.reset form:last-child{
    display: none;
    margin-top: 2vh;
}
.login-container{
    display: flex;
}
.register-container{
    display: flex;
}
.reset-container{
    display: flex;
}
form h1{
    margin-bottom: 2vh;
}
.textbox, .diff-textbox{
    margin-top: 2vh;
    width: 30vw;
    height: 7vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: start;
}
.textbox input{
    width: 29vw;
    height: 5vh;
    font-size: 1vw;
    padding-left: 1vw;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}
.textbox input:focus{
    border-bottom: 1px solid #00856F;
}
.textbox h2, .diff-textbox h2{
    font-weight: 300;
    padding-left: 1vw;
    width: 19vw;
    height: 2vh;
    background-color: white;
}
.diff-textbox .verify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 5vh;
    background-color: transparent;
}
.verify input{
    width: 19vw;
    height: 5vh;
    font-size: 1vw;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: white;
    color: #00856F;
    outline: none;
}
.verify input:focus{
    border-bottom: 1px solid #00856F;
}
.verify button{
    margin: unset;
    margin-left: 1vw;
    width: 9vw;
    height: 5vh;
    font-size: 1vw;
    border: 1px solid #00856F;
    background-color: white;
    color: #00856F;
}
.verify button:hover{
    background-color: #00856F;
    color: white;
}
.diff-textbox{
    background-color: transparent;
}

.submit{
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit input{
    width: 20vw;
    height: 6vh;
    font-size: 1vw;
    margin-right: 1vw;
    border: 1px solid #00856F;
    background-color: white;
    color: #00856F;
}
.reset-container .submit input{
    margin: unset;
    width: 30vw;
}
.submit input:hover{
    background-color: #00856F;
    color: white;
}
.submit input:focus{
    background-color: white;
    color: #00856F;
}
.submit .myimg{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin-left: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.myimg img{
    width: 1.4vw;
    height: 1.4vw;
}
.submit p{
    all: unset;
    width: 3vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    margin-top: 15vh;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.image-container img{
    width: auto;
    height: 90vh;
    margin-left: -13vw;
}
#errorMessage{
    color: red;
    margin: unset;
}

/* Responsiveness */
@media screen and (max-width: 768px){
    #navbar{
        z-index: 5;
    }
    h1{
        font-size: 4vh;
    }   
    #navbar h1{
        font-size: 3vh;
    }
    h2{
        font-size: 3vh;
    }
    p{
        font-size: 2vh;
    }
    .textbox h2{
        font-size: 2vh;
    }
    #container{
        position: absolute;
        left: 0;
        bottom: 5vh;
        width: 100vw;
        height: 90vh;
        flex-direction: column-reverse;
    }
    .image-container{
        height: 50%;
        width: 100%;
    }
    .image-container img{
        margin-left: -30vw;
        width: auto;
        height: 100%;
    }
    form{
        padding-left: 3vw;
        width: 94%;
        height: 70%;
        border-radius: 2vh;
        margin-left: 0;
        box-shadow: none;
    }
    .textbox{
        width: 90%;
        height: max-content;
    }
    .textbox input{
        padding-left: 2%;
        width: 98%;
        height: 5vh;
        font-size: 2vh;
    }
    .submit{
        width: 95%;
        flex-direction: column;
        height: max-content;
        align-items: start;
    }
    .submit input{
        width: 95%;
        font-size: 2vh;
    }
}